@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Noto+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 3%;
  font-family: "Anton", sans-serif;
  text-align: center;
  letter-spacing: 0.2em;
  background: url("https://wallpaperaccess.com/full/2985860.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#boardGame {
  width: 500px;
  height: 500px;
  border: 5px solid rgb(110, 100, 88);
  background-color: bisque;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 2%;
}

#boardGame div {
  width: 48px;
  height: 48px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tileClicked {
  background-color: rgba(165, 42, 42, 0.359);
}

p button {
  margin-top: 1%;
  width: 60px;
  height: 30px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
